*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body
{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 75%, rgba(194, 192, 192) 95%);
    font-family: 'Raleway', sans-serif;
}

.hero-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.wrapper{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;

}

/* NAWIGACJA */

nav{
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    background-color: black;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.nav-mobile{
    margin-right: 100%;
}

.nav-mobile button{
    font-size: 30px;
    padding: 0 30px;
    background: none;
    border: none;
    line-height: 60px;
    color: #ffffff;
}

.nav-desktop{
    display: none;
}

/* header */

.header-img{
    position: relative;
    height: 330px;
    background-image: url('../img/home-s.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.header-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 3px 5px 5px black;
    text-align: center;
}

.header-text h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.header-text span{
    color: royalblue;
}

.header-text p{
    font-size: 14px;
}

/* main */

section{
    margin: 80px 0;
}

main h2{
    text-align: center; 
    text-transform: uppercase;
    margin: 20px;
    font-size: 28px;
 
 }

.underline{
    position: relative;
}

.line{
    position: absolute;
    width: 90px;
    height: 3px;
    left: calc(50% - 45px);
    bottom: -5px;
    background-color: royalblue;
}

.about-us p{
    padding: 0 20px;
}

/* .products{
    font-size: 0;
} */

.main-product{
    display: inline-block;
    position: relative;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-product:hover .product-text h3{
    transform: scale(1.2);
}

.product-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 27px;
    text-transform: uppercase;
}

.product-text h3{
    transition: transform .3s;
}

.first-product{
    background-image: url('../img/code.jpg');
}

.second-product{
    background-image: url('../img/laptop.jpg');
}

.third-product{
    background-image: url('../img/work.jpg');
}

.fourth-product{
    background-image: url('../img/macbook.jpg');
}

.contact{
    text-align: center;
}

.contact h3{
    margin: 20px 0 5px;
    text-transform: uppercase;
}

.contact-adress{
    text-align: center;
}

.contact-adress h3{
    margin: 20px 0 5px;
    text-transform: uppercase;
}

.contact i{
    font-size: 20px;
    margin-right: 5px;
}

.contact p:hover{
    color: royalblue;
}

.contact-icon{
    text-align: center;
    
}

.contact-icon i{
    padding: 15px 5px;
    font-size: 30px;
    transition: .3s;
    color: black;
}

.contact-icon i:hover{
    color: royalblue;
    transform: scale(1.3);
}

/* footer */

footer{
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: black;
    text-align: center;
    font-size: 18px;
}

@media (min-width: 400px){
    .header-text h1{
        margin-bottom: 10px;
        font-size: 32px;
    }
    
    .header-text p{
        font-size: 18px;
    }

    .product-text h3{
        font-size: 36px;
        margin-bottom: 10px;
    }

    .product-text{
        font-size: 19px;
    }
}